@model CharacterBuilder.Models.Campaign.CampaignCreate

@{
    ViewData["Title"] = "Create new Campaign";
}

<div class="container-fluid">
    <h1>New Campaign</h1>
    <form class="col-md-8" asp-action="Create">
        <div class="form-group">
            @Html.DisplayNameFor(c => c.Name)
            @Html.TextBoxFor(c => c.Name, new {Class="form-control"})
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(c=>c.Description)
            @Html.TextAreaFor(c => c.Description, new {Class="form-control", Rows=6})
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
</div>