@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>The Fates of adventure await you!</h2>
    <p>Within this site, you can create characters, create items, and forge weapons. When those are created, you can join fellow adventurers to begin your story.</p>
</div>
